### Linear Regression

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

data = pd.read_csv('example_LR.txt', sep=",", header=None)
data.head()

          0    1         2
0  2.218090  1.0  0.095839
1  3.364022  1.0  0.260144
2  4.159927  1.0  0.350817
3  3.781960  1.0  0.784499
4  3.429895  1.0  0.756516

In [ ]:
X, y = data[[1,2]], data[0]
reg = LinearRegression().fit(X, y)

In [ ]:
reg.score(X,y)

0.12294134273658863

In [ ]:
reg.coef_

array([0.        , 0.69858829])

In [ ]:
reg.intercept_

3.1396045363729694

### Logistic Regression

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

diabetes = pd.read_csv("diabetes.txt")
diabetes.head()

   1   85  66  29    0  26.6  0.351  31  0.1
0  8  183  64   0    0  23.3  0.672  32    1
1  1   89  66  23   94  28.1  0.167  21    0
2  0  137  40  35  168  43.1  2.288  33    1
3  5  116  74   0    0  25.6  0.201  30    0
4  3   78  50  32   88  31.0  0.248  26    1

In [ ]:
X, y = diabetes.iloc[: , :-1], diabetes.iloc[:, -1]
clf = LogisticRegression().fit(X, y)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
clf.score(X,y)

0.7803921568627451

In [ ]:
clf.coef_

array([[ 1.25807282e-01,  3.42202253e-02, -1.49201755e-02,
        -5.43484781e-04, -1.18684566e-03,  8.08419415e-02,
         1.50913073e+00,  1.22022251e-02]])